.list-with-icons{
    > li{
        padding-left: 60px;
        position: relative;
        height: 60px;
        max-width: 600px;
        margin:10px 0 ;
        background-color: transparent;
        .icon.pdf-icon{
            display: block;
            width: 60px;
            height: 60px;
            position: absolute;
            left: 0px;
            top:0px;
            svg{
                width: 60px;
            }

        }
        .text{
            
            padding-left: 15px;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
 
        }
        border: hidden;
    }
    a{
        color: $text-dark-gray;
        background-color: transparent;
    }
}
.list-with-thumb{
    > li{
        padding-left: 150px;
        padding-right: 15px;
        position: relative;
        height: 150px;
        max-width: 600px;
        margin:10px 0 ;
        background-color: transparent;
        .thumb{
            display: block;
            width: 150px;
            height: 150px;
            position: absolute;
            left: 0px;
            top:0px;
            overflow: hidden;
            img{
                height: 150px;
                width: 150px;
                object-fit: cover;
            }

        }
        .text{
            
            padding-left: 15px;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
 
        }
        border: hidden;
        >a{
            display: block;
            

        }
        &:hover{
            box-shadow: 0 1px 10px rgba(0,0,0,0.15);
            transition: box-shadow 0.3s ease-in-out;
        }
    }
    a{
        color: $text-dark-gray;
        background-color: transparent;
        &:hover{
            color:$link-blue;
        }
    }
}