// Global style
html, html a, body {
    -webkit-font-smoothing: antialiased;
  }
  
  a {
    transition: all 0.3s ease-in-out;
  }
  
  body {
    font-family: $font-primary;
    font-size: 14px;
    color: $default-text-color;
    line-height: 1.5;
    letter-spacing: 0.2px;
    overflow-x: hidden;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-secondary;
    letter-spacing: 0.5px;
    line-height: 1.5;
  
    a {
      font-family: $font-secondary;
    }
  
    small {
      font-weight: 300;
      color: lighten($default-dark, 5%);
    }
  }

  h1{
    font-size: calc(14px + (35 - 25) * ((100vw - 300px) / (1920 - 300)));
  }
  h2{
    font-size: calc(12px + (35 - 25) * ((100vw - 300px) / (1920 - 300)));
  }
  
  p {
    font-family: $font-primary;
    line-height: 1.9;
  }
  
  .lead {
    font-size: 18px;
  }
  
  ul {
    margin-bottom: 0;
  }
  
  a {
    color: $default-info;
  
    &:hover,
    &:focus {
      text-decoration: none;
      color: darken($default-info, 10%);
    }
  
    &:focus {
      outline: none;
    }
  
    &.text-gray {
      &:hover,
      &:focus,
      &.active {
        color: $default-dark !important;
      }
    }
  }
  
  :focus {
    outline: none;
  }
  
  hr {
    border-top: 1px solid $border-color;
  }

  .body-container{
    padding-top: 130px;
  }

  @media screen and (min-width: 1920px) {
    .container-wrapper {
        max-width: 1920px;
    }
}

  .blue-link{
    color: $link-blue;
  }
  .green-link{
    color: $green;
  }

  .link-list{
    .blue-link{
      padding-left: 10px;
      position: relative;
      padding-right: 10px;
      &::before{
        content: "\2022";
        color: $text-dark-gray;
        font-size: 20px;
        display: inline-block;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 0px;
        top:-6px;
      }

    }
    
  }

  .no-wrap{
    overflow: hidden;
    white-space: nowrap;
  }
  

  