// Global style
html, html a, body {
    -webkit-font-smoothing: antialiased;
  }
  
  a {
    transition: all 0.3s ease-in-out;
  }
  
  body {
    font-family: $font-primary;
    font-size: calc(14px + (35 - 34) * ((100vw - 300px) / (1920 - 300)));
    color: $default-text-color;
    line-height: 1.5;
    letter-spacing: 0.2px;
    overflow-x: hidden;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-secondary;
    letter-spacing: 0.5px;
    line-height: 1.5;
  
    a {
      font-family: $font-secondary;
    }
  
    small {
      font-weight: 300;
      color: lighten($default-dark, 5%);
    }
  }

  h1{
    font-size: calc(14px + (35 - 25) * ((100vw - 300px) / (1920 - 300)));
  }
  h2{
    font-size: calc(12px + (35 - 25) * ((100vw - 300px) / (1920 - 300)));
  }
  
  p {
    font-family: $font-primary;
    line-height: 1.9;
  }
  
  .lead {
    font-size: 18px;
  }
  
  ul {
    margin-bottom: 0;
  }
  
  a {
    color: $default-info;
  
    &:hover,
    &:focus {
      text-decoration: none;
      color: darken($default-info, 10%);
    }
  
    &:focus {
      outline: none;
    }
  
    &.text-gray {
      &:hover,
      &:focus,
      &.active {
        color: $default-dark !important;
      }
    }
  }
  
  :focus {
    outline: none;
  }
  
  hr {
    border-top: 1px solid $border-color;
  }

  .body-container{
    padding-top: 130px;
  }

  @media screen and (min-width: 1920px) {
    .container-wrapper {
        max-width: 1920px;
    }
}

  .blue-link{
    color: $link-blue;
  }
  .green-link{
    color: $green;
  }

  .link-list{
    .blue-link{
      padding-left: 10px;
      position: relative;
      padding-right: 10px;
      &::before{
        content: "\2022";
        color: $text-dark-gray;
        font-size: 20px;
        display: inline-block;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 0px;
        top:-6px;
      }

    }
    
  }

  .no-wrap{
    overflow: hidden;
    white-space: nowrap;
  }


  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
  }
  #wrapper.toggled {
    padding-left: 250px;
    #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      position: relative;
      margin-right: 0px;
    }
  }
  #sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    z-index: 10;
    left: 0px;
    width: 0;
    height: 100%;
    margin-left: 0px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
    min-height: calc(100vh - 100px);
  }
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 15px;
    list-style: none;
    li {
      text-indent: 20px;
      line-height: 40px;
      a {
        display: block;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
        &:active {
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
    >.sidebar-brand {
      height: 65px;
      font-size: 18px;
      line-height: 60px;
      a {
        &:hover {
          background: none;
        }
      }
    }
    
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color:$link-blue;
  } 

  .inner-page{
    .body-container{
      padding: 105px 0 0 0;
    }
  }

  .bg-lightgray{
    background-color: $lighter-bg;
  }

  .inner-nav{
    a{
      color: $link-blue;
      &:hover{
        color: $link-blue;
      }
    }
  }

  .same-height-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    .same-height-col  {
          display: flex;
          flex-direction: column;
      }
  }
  
 
  

  