// Footer style

.footer {
    background-color: $white;
    padding: 30px;
    .logo{
        height: 50px;
    }
    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a{
        color: $link-blue;
    }
}