// Footer style

.footer {
    background-color: $background;
    border-top: #{$border-width} solid #{$border-color} ; 
    padding: 30px;
    text-align: center;
    .logo{
        height: 50px;
    }
    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a{
        color: $link-blue;
    }
}