// Header style

.header {
  background-color: $default-white;
  border-bottom: 1px solid $border-color;
  display: block;
  margin-bottom: 0;
  padding: 0;
  position: fixed;
  transition: all 0.2s ease;
  width: calc(100% - #{$offscreen-size});
  z-index: 800;
  .logo-wrapper{
    color:$default-dark;
    .logo{
      display: block;
      height: 75px;
      width: auto;
      @media (max-width: 576px) {
        height: 50px;
      }
      &.left-logo{
        padding-left: 75px;
        position: relative;
        @media (max-width: 576px) {
          padding-left: 50px;
        }
        img{
          height: 75px;
          position: absolute;
          left: 0px;
          top:0px;
        }
        .site-title{
          margin: 0px;
          white-space: normal !important;
          @media (max-width: 576px) {
            white-space: normal;
            font-size: 12px;
          }
        }
        .site-desc{
          margin: 0px;
          padding: 0px;
        }
      }
      &.right-logo{
        position: relative;
        img{
          height: 75px;
        }
      }
      .logo-text{
        height: 75px;
        @media (max-width: 576px) {
          height: 50px;
        }
      }
    }
  }
  .lang-switch{
    padding-top: 25px;
    a{
      color: $text-dark-gray;
      &.active-link{
        color: $link-blue;
      }
    }
  }
  @media (max-width: 576px) {
    img {
      max-height: 50px;
    }
  }
  
}