// Homepage style

.news-container {
    padding: 15px;
    .news-img {
        height: 400px;
        left: 0px;
        right: 0px;
        top: 0px;
        width: 100%;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    
}